<body>
    <div >
        <div>
          <div >
            <h1>Viaje</h1>
          </div>
          <div >
            <form (ngSubmit)="addViaje()">
              <div class="control-group">
                 <p>Colaborador</p> <select ></select>
                   </div>
        
              <div class="control-group">
                  <p>Transportista</p> <select></select>
                
              </div>
              <button class="btn btn-primary btn-large btn-block"  type="submit">Agregar</button>
            </form>
          </div>
        </div>
      </div>

</body>

